*/:root{
    --main-font: font-family: 'Roboto', sans-serif;
    --small-font: font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: var(--light-teal);
}

main {
    height: 92vh;
    margin: 0px;
}

.brand-logo {
    margin-left: 5px;
}

.carousel {
    position: relative;
    height: 450px;
}

.carousel-item img {
    object-fit: cover;
    height: 450px;
    background-position: center center;
    background-repeat: no-repeat;
}

.carousel-fixed-item {
    margin: 0 10px 0 10px;
    position: absolute;
    top: 50%;
    padding: 0;
    margin: 0;
}

.button {
    cursor: pointer;
}

.flip {
    transform: rotate(180deg);
}

.wayfarer {
    text-align: center;
}

.btn-info {
    color: var(--primary);
    background-color: var(--cyan);
    transition-duration: 0.3s;
    border: none;
}

.btn-info:hover {
    background-color: var(--teal);
    color: var(--primary);
    border: none;
}

.navbar {
    background-color: var(--primary);
}

.nav-link, .navbar-brand {
    color: var(--cyan);
    transition-duration: 0.3s;
}

.nav-link:hover, .navbar-brand:hover {
    color: var(--teal);
}

.lrmodal {
    text-align: center;
    padding: 0;
}

.lrlink {
    color: darkgray;
    background-color: gray;
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
    border: none!important;
    transition-duration: 0.3s;
}

.lrlink:hover {
    color: var(--primary);
    background-color: var(--teal);
}

.lrlink.active {
    color: var(--primary);
    background-color: white;
}

div.col-1 {
    color: var(--primary)
}

@media only screen and (max-width: 600px){
    .icons {
        display: none;
    }
}

.navbar-toggler {
    color: var(--primary);
    transition-duration: 0.3s;
}

.navbar-toggler:hover {
    color: var(--purple);
    background-color: var(--teal);
}

.control {
    color: var(--primary);
    font-size: 2em;
    transition-duration: .3s;
}

.control:hover {
    color: var(--purple);
}

.hidden {
    display: none;
}

.profile-pic {
    height: 200px;
    width: 200px;
    margin-bottom: 30px;
    border: 5px solid rgb(168,136,255);
}

.profile-pic-sm {
    height: 150px;
    width: 150px;
    margin-bottom: 30px;
    border: 5px solid rgb(168,136,255);
}

#profile {
    background: white;
    background: linear-gradient(180deg, rgba(139,222,255,1) 25%, rgba(38,70,111,1) 25%);
    color: whitesmoke;
}

#profile-post {
background: white;
    background: linear-gradient(180deg, rgba(139,222,255,1)85%, rgba(38,70,111,1) 15%);
    color: rgb(38,70,111);
    transition-duration: 0.3s;
}
#profile-post:hover {
    color: var(--purple);
}

a.profile-card {
    transition-duration: 0.3s;
    text-decoration: none;
    color: whitesmoke;
}

a.profile-card div img {
    transition-duration: 0.3s;
}

a.profile-card:hover div img{
    border-color: whitesmoke;
}

a.profile-card:hover{
    color: var(--purple);
}

.posts-title {
    color: var(--primary);
}

#post-card{
    background-color: rgb(139,222,255);
    color: rgb(38,70,111);
}

.btn-edit {
    color: whitesmoke;
    background-color: var(--primary);
    transition-duration: 0.3s;
    border: none;
}

.btn-edit:hover {
    color: rgb(168,136,255);
    border: none;
}

.post-link {
    color: var(--primary);
    transition-duration: 0.3s;
}

.post-link:hover {
    color: var(--purple);
}

#city-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.city-title {
    color: var(--cyan);
}

.city-preview {
    height: 80px;
    width: 100px;
    object-fit: cover;
}

.city-img {
    height: 200px;
    width: 300px;
    object-fit: cover;
    position: absolute;
    right: 10px;
}

.city-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 1em;
    transition-duration: 0.3s;
}

.city-card:hover {
    cursor: pointer;
    background-color: var(--teal);
    color: var(--primary);
}

.city-card.active {
    background-color: var(--cyan);
    color: var(--primary);
}

.city-container {
    background-color: var(--primary);
    color: var(--primary);
}

.avatar {
    height: 100px;
    width: 100px;
}

.city-detail row {
    position: relative;
}

.posts {
    max-height: 400px;
}

a.post {
    text-decoration: none;
    color: var(--primary);
}

a.post:hover {
    color: var(--cyan);
}

.post-card {
    transition-duration: 0.3s;
}

.post-card:hover {
    background-color: var(--primary);
}

.search {
    background-color: var(--light-teal);
    color: var(--cyan);
    border: none;
    border-radius: 5px;
}

input.search::placeholder {
    color: var(--cyan);
}

button.edit {
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: whitesmoke;
    transition-duration: 0.3s;
}

button.edit:hover {
    cursor: pointer;
    color: var(--purple);
}

button.add-post {
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: var(--purple);
    transition-duration: 0.3s;
}

button.add-post:hover {
    cursor: pointer;
    color: var(--cyan);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
}

h1.wayfarer {
    color: var(--primary);
}

.col.card.m-3.shadow {
    color: var(--primary);
}