{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<main class="h-100 pt-5" style="background-color: var(--light-cyan);">
    <div class="container">
        <div class="row">
            <div class="container d-flex justify-content-center align-items-center">
                <div class="row d-flex justify-content-around align-items-center my-auto w-100">
                    <!-- user card -->
                    <div class="col-md-4 d-flex justify-content-center text-center my-auto">
                        <div id="profile" class="card shadow p-3 mb-5 bg-white rounded">
                            <div class="card-body">
                                <button type="button" class="edit" data-toggle="modal" data-target="#imageModal">
                                    <!-- This got the image to happen. It's hella uggo, we know. -->
                                    <img class="profile-pic rounded-circle" src="{% static '' %}{{user.image}}"
                                        alt="Profile Picture">
                                </button>
                                <h4>{{view_user.full_name}}</h4>
                                <p>Current City: {{view_user.current_city}}</p>
                                <p>Date Joined: {{view_user.date_joined}} </p>
                                <div class="contributed">
                                    <h5>Contributed To:</h5>
                                    {% if cities.sanfrancisco %}
                                    <p class="sanfrancisco">San Francisco <span
                                            class="badge badge-dark">{{cities.sanfrancisco}}</span></p>
                                    {% endif %}
                                    {% if cities.seattle %}
                                    <p class="seattle">Seattle <span class="badge badge-dark">{{cities.seattle}}</span>
                                    </p>
                                    {% endif %}
                                    {% if cities.london %}
                                    <p class="london">London <span class="badge badge-dark">{{cities.london}}</span></p>
                                    {% endif %}
                                    {% if cities.sydney %}
                                    <p class="sydney">Sydney <span class="badge badge-dark">{{cities.sydney}}</span></p>
                                    {% endif %}

                                </div>
                            </div>
                            <div class="card-body">
                                {% if user.id == view_user.id %}
                                <!-- TODO remove button attributes -->
                                <button type="button" class="edit" data-toggle="modal" data-target="#exampleModal">
                                    <svg class="bi bi-pencil" width="1.5em" height="1.5em" viewBox="0 0 16 16"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z" />
                                        <path fill-rule="evenodd"
                                            d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z" />
                                    </svg>
                                </button>
                                {%endif%}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <h2 class="posts-title mb-4">My Posts</h2>
                        <div class="overflow-auto p-2" style="max-height: 450px; width: 500px;">
                            {%for post in posts%}
                            <a class="text-decoration-none post-link" href="{% url 'post' post.city.id post.id %}">
                                <div id="profile-post" class="card shadow m-2 bg-white rounded">
                                    <div class="card-body">
                                        <h5 class="card-title">{{post.title}}</h5>
                                        <h6 class="card-title">{{post.city}}</h6>
                                    </div>
                                </div>
                            </a>
                            {%endfor%}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <!-- edit Form -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="container">
                            <div class="row">
                                <!-- icons -->
                                <div class="col-1 my-auto icons">
                                    <!-- username icon -->
                                    <svg class="bi bi-person-circle mt-3 my-3" width="1.5em" height="1.5em"
                                        viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
                                        <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                        <path fill-rule="evenodd"
                                            d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
                                    </svg>
                                    <!-- location icon -->
                                    <svg class="bi bi-geo-alt my-5" width="1.5em" height="1.5em" viewBox="0 0 16 16"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                    </svg>
                                </div>
                                <!-- form -->
                                <div class="col-sm">
                                    <div class="modal-body">
                                        <form action="{% url 'edit_profile' %}" method="POST">
                                            {% csrf_token %}
                                            {{ edit_profile_form|crispy }}
                                            <div class="text-center form-sm mt-2">
                                                <button class="btn btn-info">Edit Profile</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Image Modal -->
            <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="imageModalLabel">Add Profile Picture</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'profile' %}" enctype="multipart/form-data" method="POST">
                                {% csrf_token %}
                                {{ image_form|crispy }}
                                <div class="text-center form-sm mt-2">
                                    <button class="btn btn-info">Add Profile Picture</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}