{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <img src="https://i.imgur.com/UbyLP93.jpg?1" alt="Profile Picture">
            <h3>Christine Gill</h3>
            <p>Current City: Seattle</p>
            <p>Date Joined: 06/18/2020 </p>
        </div>

        <div class="col">

            <div>
                <h3>Fremont Troll</h3>
                <h4>Seattle, WA</h4>
                <p>The Troll is a mixed media colossal statue, located on N. 36th Street at Troll Avenue N., under the
                    north
                    end of the George Washington Memorial Bridge (also known as the Aurora Bridge). It is clutching an
                    actual Volkswagen Beetle, as if it had just swiped it from the roadway above. The vehicle has a
                    California license plate. The Troll is 5.5 m (18 ft) high, weighs 6,000 kg (13,000 lb), and is made
                    of
                    steel rebar, wire, and concrete.</p>
            </div>

            <div>
                <h3>Pike Place Market</h3>
                <h4>Seattle, WA</h4>
                <p>Pike Place Market is a public market in Seattle, Washington, United States. It opened on August 17,
                    1907,
                    and is one of the oldest continuously operated public farmers' markets in the United States.
                    Overlooking
                    the Elliott Bay waterfront on Puget Sound, it serves as a place of business for many small farmers,
                    craftspeople and merchants. Named after the central street, Pike Place runs northwest from Pike
                    Street
                    to Virginia Street. Pike Place Market is Seattle's most popular tourist destination and the 33rd
                    most
                    visited tourist attraction in the world, with more than 10 million annual visitors.</p>
            </div>

        </div>

    </div>
</div>
{% endblock %}