{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wayfarer</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <!-- Compiled and minified Jquery -->
    <script src="{% static 'imports/jquery.min.js' %}"></script>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="{% static 'imports/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'imports/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'imports/bootstrap.min.css' %}">
    <script src="{% static 'imports/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'imports/bootstrap.min.js' %}"></script>
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <!-- TODO: Logo -->
                <a href="#" class="left brand-logo">Wayfarer</a>
                <ul class="right">
                    <!-- If -->
                    <li><a href="">Sign In</a></li>
                    <li><a href="">Sign Up</a></li>
                    <!-- Else -->
                    <li><a href="">Profile</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <!-- Login Modal -->
        <form action="{% url 'login' %}'" method="POST">
            {% csrf_token %}
            {{ login_form.as_p }}
            <input type="submit" value="Login" class="btn">
        </form>

        <!-- Registration Modal -->
        <form action="{% url 'signup' %}" method="POST">
            {% csrf_token %}
            {{ registration_form.as_p }}
            <input type="submit" value="Register" class="btn">
        </form>

        {% block content %}
        {% endblock %}
    </main>
</body>
</html>